<form [formGroup]="signmentForm"  >
  <label>
    Result:
    <input type="text" formControlName="result">
  </label>
  <label>
    Key Strengths:
    <input type="text" formControlName="keyStrengths">
  </label>
  <label>
    Key Weaknesses:
    <input type="text" formControlName="keyWeaknesses">
  </label>
 <br>
 <div class="radio-btn-error">
    <div class="row">
      <div class="row__label"  >
        <span Evaluation is required></span>
      </div>
      <div class="row__header" *ngFor="let item of level | keyvalue">
       <label>{{item.value }}</label>
      </div>
    </div>
    <div class="row" *ngFor="let item of levelArray().controls">
      <label for="item"> {{item.get('criteriumType')?.value}}</label>
      
        <div class="radio-group" >
          <input type="radio" name="{{item.get('criteriumType')?.value}}" [value]="0"  > 
          <input type="radio" name="{{item.get('criteriumType')?.value}}" [value]="1"  >
          <input type="radio" name="{{item.get('criteriumType')?.value}}" [value]="2"  >
          <input type="radio" name="{{item.get('criteriumType')?.value}}" [value]="3"  >
          <input type="radio" name="{{item.get('criteriumType')?.value}}" [value]="4"  >
          <input type="radio" name="{{item.get('criteriumType')?.value}}" [value]="5"  >
        </div>

    

    </div>
 </div>
  <button (click)="onSubmit()">Submit</button>
</form>
