$colors: (
  green: (
    light: #64b664,
    default: #46982f,
    dark: #006400
  ),
  grey: (
    light: #ffffff,
    default: #808080,
    dark: #1a1818
  ),
  blue: (
    light: #add8e6,
    default: #0000ff,
    dark: #00008b
  ),
  red: (
    light: #FF6347,
    default: #FF0000,
    dark: #8B0000
  ),
  yellow: (
    light: #FFFF00,
    default: #FFD700,
    dark: #B8860B
  ),
  orange: (
    light: #f8d39c,
    default: #eba40b,
    dark: #a35d07
  ),

);

$shadow-tabs: 4px 2px 5px 0 rgba(0, 0, 0, 0.3);
$btn-primary: map-get(map-get($colors, blue), light);
$btn-secondary: map-get(map-get($colors, green), default);
$btn-accent: map-get(map-get($colors, red), light);

