<div>
  <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls, .csv" />
  <button (click)="saveToDatabase()">Save to Database</button>
  <button (click)="loadFile(1)">Load from Database</button>
  <button (click)="saveAsExcel()">Download as Excel</button>

  <!-- List of available files -->
  <div>
    <h3>Available Files</h3>
    <ul>
      <li *ngFor="let file of availableFiles">
        {{ file.name }}
        <button (click)="loadFile(file.id)">Load</button>
      </li>
    </ul>
  </div>

  <!-- Editable spreadsheet table -->

 <br>
 <p>{{currentFileName}}</p>
<table *ngIf="spreadsheetForm.length > 0 && currentFileName" class="spreadsheet">
  <tr *ngFor="let row of spreadsheetForm.controls; let rowIndex = index" [formGroup]="getRowFormGroup(rowIndex)">
    <td *ngFor="let cell of getCellControls(rowIndex).controls; let colIndex = index">
      <input [formControl]="getCellControl(rowIndex, colIndex)" />
    </td>
    <td>
      <button (click)="addCell(rowIndex)">Add Cell</button>
    </td>
  </tr>
</table>
</div>


<!-- <div>
  <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls, .csv" />
</div>

 Display Excel data in a table format (optional)  
<table *ngIf="data.length">
  <tr *ngFor="let row of data">
    <td *ngFor="let cell of row">{{ cell }}</td>
  </tr>
</table>

<button (click)="saveToDatabase()">Save Changes</button> -->

