@import '../styles/styles.scss'; 

.content{
 
  
 padding: 1rem 3rem;
 
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  background-color: map-get(map-get($colors, grey), default);
  color: map-get(map-get($colors, grey), dark);
  font-size: 2em;
  font-weight: bold;
 
}