@import '../styles.scss'; 

.content{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: map-get(map-get($colors, grey), light);
  color: map-get(map-get($colors, grey), dark);
  font-size: 2em;
  font-weight: bold;
 
}