@import '../../../styles/styles.scss';

.content{
  height: 100vh;
  width: 100%;
  background-color: white;
   
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

app-login {
  width: 80%; /* Ensure the app-login component takes up the full width */
}